@import "../abstracts/variables";

.app-bar {
  &__title {
    color: white;
    font-size: x-large;
    font-weight: normal;
  }

  &__user {
    &--icon {
      color: white !important;
    }

    &--email {
      padding-left: 20px;
      color: white !important;
    }
  }
}

.toolbar {
  border: 1px solid $primary;
}

.side-bar {
  &__container {
    &--wrapper {
      border-right: 4px solid $primary;
      height: 100%;
    }
  }
}