@import "../abstracts/variables";

.app-bar {
  &__title {
    color: white;
    font-size: x-large;
    font-weight: normal;
    cursor: pointer;
  }

  &__user {
    &--icon {
      color: white !important;
    }

    &--email {
      padding-left: 20px;
      color: white !important;
    }
  }
}

.footer {
  margin-top: auto;
  height: 50px;
}

.toolbar {
  border: 1px solid $primary;
}