@import "../abstracts/variables";

.canvas {
  &__editor {
    &--toolbox-widget {
      cursor: grab;

      :hover {
        opacity: 0.5;
      }
    }

    &--element {
      min-height: 20px;
    }

    &--element:hover {
      border: 2px darkred solid !important;
    }
  }
}