@import "../abstracts/variables";

.canvas {
  &__editor {
    &--toolbox-widget {
      cursor: grab;

      :hover {
        opacity: 0.5;
      }
    }

    &--display {
      background-color: #D9D9D9;
    }

    &--element {
      border: 2px black solid;
      padding: 10px;
    }

    &--element:hover {
      border: 2px $info solid;
    }

    &--prop-text-field {
      .v-text-field .v-input__control .v-input__slot {
        min-height: auto !important;
        display: flex !important;
        align-items: center !important;
        caret-color: white;
        font-size: 11px;
      }
    }

    &--id-label {
      font-size: 13px;
    }

    &--id-text-field {
      .v-text-field .v-input__control .v-input__slot {
        min-height: auto !important;
        display: flex !important;
        align-items: center !important;
        caret-color: white;
        font-size: 13px;
      }
    }
  }
}