@import "../abstracts/variables";

.canvas {
  &__editor {
    &--toolbox-widget {
      cursor: grab;

      :hover {
        opacity: 0.5;
      }
    }

    &--element {
      border: 2px black solid;
      min-height: 20px;
    }

    &--element:hover {
      border: 2px red solid;
    }

    &--row {
      margin: -12px;
      width: 110%;
      height: 100%;
    }
  }
}