@import "../abstracts/variables";

.page-loading {
  padding-top: 400px;
}

.card-loading {
  padding-top: 200px;
}

.dialog {
  &--title {
    font-size: x-large;
    color: $text-color;
    padding-top: 30px;
    padding-bottom: 10px;
  }
}