#app {
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #3d3d3d;
  height: 100%;
}

.v-main {
  height: 100%;
}

.v-expansion-panel-content .v-expansion-panel-content__wrap {
  padding: 0 !important;
}

.v-tooltip__content {
  opacity: 1 !important;
}

.v-treeview-node__level {
  width: 12px !important;
}