@import "../abstracts/variables";

.editor {
  &--toolbox-widget {
    cursor: grab;

    :hover {
      opacity: 0.5;
    }
  }

  &--widget-header {
    background-color: rgba(114, 114, 114, 0.3);
  }

  &--grid {
    border: 2px dotted $primary;
  }

  &--grid:hover {
    border: 2px dotted red !important;
  }

  &--container {
    min-height: 100px;
  }

  &--row {
    padding-bottom: 20px;
  }

  &--column {
    min-height: 100px;
  }
}