@import "../abstracts/variables";

.dashboard {
  &__navigation {
    &--title {
      color: white;
      font-size: x-large;
    }
  }

  &__tabs {
    &--container {
      height: 100%;
    }
  }
}