@import "../abstracts/variables";

.dashboard {
  &__navigation {
    &--title {
      color: white;
      font-size: x-large;
    }
  }

  &__tabs {
    &--container {
      height: 100%;
    }

    &--first-button {
      width: 100%;
    }

    &--color-display {
      width: 8px;
      height: 8px;
      display: grid;
      flex: none !important;
      margin-right: 10px;
    }
  }
}