#app {
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #3d3d3d;
  height: 100%;
}

.v-input__prepend-outer {
  margin-right: 20px !important;

  .v-icon {
    font-size: 20px;
  }
}